/* @import url('https://fonts.googleapis.com/css2?family=Playwrite+FR+Trad+Guides&family=Reenie+Beanie&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Playwrite+FR+Trad:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitcount+Single&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Jim+Nightshade&family=Special+Elite%family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Philosopher&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');

.container {
    display:flex;
    align-items: center;
    justify-content: center
}
.text {
    text-justify: inter-character;
    padding-left:10px;
    padding-right:20px;
}

.big-pagewide {
    width: 80%;
    padding: 20px;
    margin: auto;
}



img.shadow {
  filter: drop-shadow(5px 5px 10px #000000);
}

/* neon stuff */

div.neon-container {
  justify-content: right;
  align-items: center;
  margin: 0;
  float: right;
}

.neon-text {
  animation: flicker 2s infinite alternate;   
  font-family: "Tilt Neon", Courier, monospace;
  color: #fff;
  font-size: 25px;
  text-transform: uppercase;
  letter-spacing: -2px;
  text-shadow: 
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 20px #fff,
      0 0 30px #ff0000,
      0 0 40px #ff0000,
      0 0 50px #ff0000,
      0 0 64px #ff0000,
      0 0 72px #ff0000;
}


/* Flickering animation */
@keyframes flicker {
    
  0%, 18%, 22%, 25%, 53%, 57%, 100% {

      text-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 20px #fff,
      0 0 30px #ff0000,
      0 0 40px #ff0000,
      0 0 50px #ff0000,
      0 0 64px #ff0000,
      0 0 72px #ff0000;
  
  }
  
  20%, 24%, 55% {        
      text-shadow: none;
  }    
}



.tooltip-container {
  position: relative;
  display: inline-block;
  cursor: pointer;
  color: #575757;
  font-style: oblique;
  text-decoration: underline wavy;
}

.tooltip-text {
  visibility: hidden;
  opacity: 0;
  width: 500px;
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 6px;
  border-radius: 4px;
  position: absolute;
  /* bottom: 125%; Position above the text */
  left: -70%;
  transform: translateX(+20%);
  transition: opacity 0.3s;
  z-index: 1;
  font-weight: normal;
}

.tooltip-container:hover {
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
}

.tooltip-container:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}


/* NAV BUTTONS W/ BORDERS */

a.nav_button {
  background-color: white;
  color: black;
  padding: 5px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border: 1.5px solid black;
  cursor: pointer;
}

a.nav_button:hover {
  background-color: lightgray;
  color: black;
  padding: 5px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border: 1.5px solid lightgrey;
}

a.nav_button:active {
  background-color: #7e7e7e;
  color: black;
  padding: 5px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border: 1.5px solid #7e7d7e;
}

/* NAV BUTTONS W/O BORDERS & PLAYWRIGHT */

a.header_nav_button:link, a.header_nav_button:visited {
  background-color: white;
  color: black;
  padding: 0em 5em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border: none;
  font-family: "Playwrite FR Trad";
  font-weight: 400
}

a.header_nav_button:hover {
  background-color: lightgray;
  color: black;
  padding: 0em 5em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border: none;
  font-family: "Playwrite FR Trad";
  font-weight:400;
  font-style:italic
}

a.header_nav_button:active {
  background-color: #7e7e7e;
  color: black;
  padding: 0em 5em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border: none;
  font-family: "Playwrite FR Trad";
  font-weight:400
}

/*  */

a.nav_link {
    color: black;

}
a.nav_link:hover, a.nav_link:active {
    font-weight: bold;
    color: black;
    text-decoration: none;
}

a.out_link:link {
    color:#de2525;
}
a.out_link:visited {
    color:#671818;
}
a.out_link:hover {
    font-weight: bold;
    text-decoration: none;
}

a.out_link#image {
  filter: drop-shadow(5px 5px 10px #414141);
}
a.out_link#image:hover {
  filter: none;
}




table { 
    border-spacing: 1em 0; 
    display:flex;
    align-items: center;
    justify-content: center;
}

details > summary {
    box-shadow: 3px 3px 4px #4f4f4f;
    border: none;
    width: fit-content;
    padding: 2px 6px;
    cursor:help;
    font-family: "Playwrite FR Trad"
}

details > div {
    padding: 5px 5px 5px 10px;
    box-shadow: 3px 3px 3px 4px #9e9e9e;
    width:50em;
}

details.padded_bottom {
  margin-bottom:3cm
}

.publications {
    padding-left: 3em;
    text-indent: 3em hanging;
    list-style-type:none;
}
ol.publications {
    list-style-type:decimal;
    /* padding-left: 150px; */

}
ol li::marker {
    /* font-family: "Playwrite FR Trad"; */
    font-style: italic;
    color: gray;
    font-size: larger;
    
    }



.rounded-line {
  border: none; /* Remove the default border */
  height: 0.11em; /* Set the thickness (height) of the line */
  background-color: black; /* Set the color */
  border-radius: 0.075em; /* Apply border-radius for rounded ends */
  /* width: 95%; Make the line span the full width (adjust as needed) */
  margin: auto; /* Add some vertical spacing */
}

.playwrite-fr-trad-title {
  font-family: "Playwrite FR Trad", cursive;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

.bitcount-single-title {
  font-family: "Bitcount Single", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "CRSV" 0.5,
    "ELSH" 0,
    "ELXP" 0;
}

.special-elite-regular {
  font-family: "Special Elite", system-ui;
  font-weight: 400;
  font-style: normal;
}

.jim-nightshade-regular {
  font-family: "Jim Nightshade", cursive;
  font-weight: 400;
  font-style: normal;
}

.philosopher-regular {
  font-family: "Philosopher", sans-serif;
  /* font-weight: 400; */
  font-style: normal;
}



h1, h2, h3 {
  font-family: "Playwrite FR Trad";
}

h4 {
    font-family: "Playwrite FR Trad"; 
    /* text-decoration: wavy underline ; */
    text-align: center;
    font-size: 10pt;
    font-weight: 400
}
h5, h6 {
    font-family: "Playwrite FR Trad"; 
    /* text-decoration: wavy underline ; */
    /* text-align: center; */
    font-size: 10pt;
    font-weight: 400
}


.tilt-neon {
  font-family: "Tilt Neon", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "XROT" 0,
    "YROT" 0;
}

/* .futuristic {
  font-family: 'Bitcount Single';
} */

body, div, text {
    font-family: Spectral; 
    font-weight: 300;
}

aside {
    width: 20%;
    float: right;
    color: grey;
    padding: 5px;
    font-size: 10pt;
    /* margin: 10px; */
    /* height: 100px; */
}

ul {
  list-style-type:'- ';
  margin-right: 0;
}

p > b {
  font-weight: 600;
}